.animation {
    width: 500px;
    height: 500px;
    background: red;
}
@keyframes animation {
    0% {
        background: green;
    }
    25% {
        background:black;
    }
    80% {
        width;70px;
    }
    100% {
        height: 100px;;
    }
}
.animation{
    animation-name: animation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode:forwards;
    animation-play-state: running;
}
/* .animation{
    animation: animation 5s cubic-bezier(.17,.67,.83,.67) 1s 3 alternate forwards;
} */

.animation:hover{
    animation-play-state:paused;
}
.flex {
    border: solid 1px black;
    height: 500px;
    /* flex-wrap:wrap; */
    justify-content: space-around; 
    display:flex;
    /* flex-direction: row; */
    /* align-items: center;  */
    /* align-content:stretch;  */
    /* flex-flow: row wrap; */

}
.child {
    /* max-width: 400px;
    width: 350px; */
    height: 50px;
    border: solid 1px black;
    background: rgb(230, 82, 127);
    flex-basis: 150px;
    flex-shrink: 1;
}
.child2{
    flex-grow: 3;
}
.child{
    flex-grow: 1;
}
.child3 {
    flex-shrink: 6;
    align-self: flex-end;
    

    /* flex: 6 3 150px; */
}



